<!DOCTYPE html>
<html>
<head>
    <title>Chatllama</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
        <div class="container">
        <h1>ChatAI</h1>
        <form id="question-form" class="input-form">
            <input type="text" id="question-input" placeholder="Введите вопрос" required>
            <input type="submit" value="Отправить">
        </form>
        <div id="result-form" class="result-form">
            <p id="loading-message" class="loading-message"></p>
        </div>
        </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
